/* Reset */
* { box-sizing: border-box; margin: 0; padding: 0; }

:root{
  --mm-topbar-h: 66px;
  --mm-topbar-background: #001936;

  --mm-border: #ccc; 

  --max-width: 1400px;

  --mm-nav-w: 0px;
  --mm-index-w: 190px;

  --big-text: #303030;
  --lil-text: #505050; font-size: 12px; font-weight: 400;

  --mm-select: #066eff;
  --mm-highlight: #2890ff22;
}

body{ font-family: 'Roboto'; background: #eaeaea; color: var(--mm-text);}

.mm-topbar{
  position: fixed;
  top: 0; left: 0; right: 0;
  height: var(--mm-topbar-h);
  background-color: var(--mm-topbar-background);
  z-index: 1300; 
  display: flex; align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
 
  background-image: linear-gradient(90deg, #318eff22, #318eff22);
  transform: scaleX(1);  
  background-repeat:no-repeat;
  background-size: 100% 1px;
  background-position: 0 100%; 
  box-shadow: 0 4px 12px rgba(0,0,0,0.08); 
}
.mm-topbar::after{
  content: "";
  position: absolute;
  left: 0; right: 0; bottom: 0px; height: 0px;
  background: linear-gradient(90deg, #014580, #006aff, #0eb3ff, #014580); 
  box-shadow: 1px 0px 2px #38c3ffec;/* reversed */
  transform: scaleX(0);                 /* start hidden */
  transform-origin: left;               /* wipe left→right */
  transition: transform 1s ease;       /* smooth */
  pointer-events: none;                 /* ignore mouse */
}
.mm-topbar:hover::after,
.mm-topbar:focus-within::after{  
  background: linear-gradient(90deg,#003b6f, #00aaff, #0059ff, #003b6f);  
  box-shadow: 1px 0px 3px #46acffd9;      /* keyboard too */
  transform: scaleX(1);                 /* cover the base line */
}
@media (prefers-reduced-motion: reduce){
  .mm-topbar::after{transform: 1s ease;transform: scaleX(1); }
}
.mm-topbar.is-armed::after{
  transform: scaleX(1);
}
.mm-topbar.is-armed.is-leaving::after{
  transform: translateX(100%) scaleX(1);
}

.mm-topbar .topbar-inner{ width: var(--max-width);
  margin: 0 auto;
  display: flex; align-items: center; gap: 20px;
  padding-left: 3rem; padding-right: 3rem;
}

.mm-topbar .brand{ display:flex; align-items:center; text-decoration:none;position: relative;}
.mm-topbar .brand img{height:36px; margin-bottom: 3px; width: auto; display:block; }
.mm-topbar .brand2{ display:flex; align-items:center; text-decoration:none; position: relative;}
.mm-topbar .brand2 img{ height: 30px; margin-bottom: 1px; width: auto; display:block; }
.mm-topbar .toplinks{ display:flex; gap:40px; font-size: 12px; font-weight: 400;}

.mm-topbar .toplinks .link{ padding: 8px; text-decoration: none; margin-left: -12px;margin-right: -10px;
  color:#bbb;
  border: 0px solid #0d2644;
}
.mm-topbar .toplinks .link:hover{
  color: var(--mm-select); font-weight: 400; background-color: var(--mm-highlight); padding: 8px; border-radius: 12px;
}
.mm-topbar .toplinks .link {
  display: flex;
  align-items: center;
  gap:6px;
}

/* Main content area */
.mm-content{
  padding-top: var(--mm-topbar-h);
  margin: 0 auto;
  max-width: var(--max-width);
  background-color: #f8f8f8;
}
.layout-wrapper {
  padding:3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  gap: 1.4rem;
}

/* Separator */
.mm-sep1{ height:1px; background: var(--mm-border);   max-width: var(--max-width); margin: 0 auto;
margin-bottom: 1rem;}
.mm-sep2{ height:1px; background:#eee;}
.mm-sep3{ flex: 0 0 1px; height: 26px; align-self: center; background: #ffffff1f;}
.mm-sep4{ flex: 0 0 1px; height: 16px; align-self: center; background: var(--mm-border);}
.mm-sep5{ height:0px; background:#ddd; margin-bottom: 10px;}

/* Hover tooltip */
.mm-tooltip{
  position: fixed; pointer-events:none;
  background: #ffffff; color: var(--lil-text);
  font-size: 12px; 
  font-weight:400; 
  padding:.7rem;
  border:1px solid var(--mm-border); 
  border-radius:8px;
  opacity:0; transform: translate(12px,12px);
  transition: opacity 120ms ease; z-index:1000;
}
.mm-tooltip.show{ opacity:0.9; }

/* --------- Viewer --------- */
.viewer-container{
  flex: 1 1 0;
  min-width: 300px;
  max-width: 600px;
  display:flex; flex-direction:column; align-items:center;
  transition:flex .3s ease;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08); 
}
.viewer-box{
  position: relative;
  width: 100%;
  height: 646px;
  background: #080808;
  overflow: hidden;
  border-radius: 3px 3px 0px 0px;
  border: 0px solid var(--mm-border);
  display:flex; align-items:center; justify-content:center;
}
.viewer-attribution{
  bottom: 0.4rem;
  background-color: #e2e2e2;
  border: 1px solid var(--mm-border);
  border-top: 0px;
  left: 0.4rem;
  font-size: 10px;
  width: 576px;
  color: var(--lil-text);
  font-weight: 400;
  text-align: left;
  padding: 0.4rem;
  pointer-events: auto;
  border-radius: 0px 0px 3px 3px;
}
.viewer-attribution a{
  bottom: 0.4rem;
  left: 0.4rem;
  color: var(--mm-select);
  text-decoration: none;
  font-size: 10px;
  font-weight: 400;
  border-radius: 3px;
  pointer-events: auto;
}
.viewer-attribution p{
  display:flex; align-items:center; justify-content:left;
  gap: 0.3rem;
  padding-left: 0.3rem;
}

.viewer-frame{
  position: relative;
  width: 100%;
}

.hud-btn{
  pointer-events: auto;
  padding: 0.4rem;
  border-radius:999px; 
  border:none; background:none; color:#606060;
  display:grid; place-items:center;
  transition: transform 1s ease, box-shadow .5s ease, border-color 1s ease;
}
.hud-btn:hover{
background-color: var(--mm-highlight);
color: var(--mm-select);
padding: 0.4rem;
cursor: pointer;
}

.viewer-hud-right {
  position: absolute;
  bottom: 0.4rem;
  right: 0.4rem;
  display: flex;
  align-items: center;
}

.viewer-box .zoom-btn{
  pointer-events: auto;
  padding: 0.4rem;
  border-radius:999px;
  border:none; background:none; color:#ffffff;
  display:grid; place-items:center;
  transition: transform 1s ease, box-shadow .5s ease, border-color 1s ease;
}
.zoom-btn:hover{
background-color: var(--mm-highlight);
color: var(--mm-select);
padding: 0.4rem;
cursor: pointer;
}


/* --------- Controls --------- */
.controls{
  background-color: #f2f2f2;
  position: sticky;

  gap: 0.4rem;
  
  border: solid 1px var(--mm-border);
  color: var(--lil-text);
  display:flex; flex-direction:row; justify-content:left; align-items:center;
  color:var(--lil-text); font: weight 38px;
  font-size: 12px;
}
.controls p{
  gap: 0.4rem;
  display:flex; flex-direction:row; justify-content:left; align-items:center;
  font-size: 12px;
}
.settings-icon{
  background: none;
  padding: 0.7rem;
  padding-right: 0.3rem;
  border-radius: 0px;
}

.controls label{ display:flex; align-items:left; }
.controls input{ margin-right:10px; }

.controls-right{
  position: absolute;
  display: grid;
  right: 0.1rem;
  padding: 0.4rem;
  padding-right: 0.8rem;
  color: var(--lil-text);
  display:flex; flex-direction:row; justify-content:right; align-items:center;
  color: var(--lil-text); font: weight 38px;
}

/* --- Texture Toggle Styles --- */
.viewer-hud-left {
  position: absolute;
  bottom: 0.1rem;
  left: 0.1rem;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  background:none;
  padding: 7px 7px;
  border-radius: 3px;
  font-size: 12px;
  pointer-events: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.panel-group {
  display: flex;
  align-items: flex-start;
  gap: 0rem;
  position: sticky;
  top: calc(var(--mm-topbar-h) + 2rem);
  height: calc(94vh - var(--mm-topbar-h) - 4rem);
}


.mm-panel{
  width: 540px;
  height: 710px;
  background: #ffffff;
  box-shadow: -3px 1px 10px rgba(0,0,0,0.08); 
  z-index: 900;
  border: 1px solid var(--mm-border);
  border-radius: 3px 3px 3px 3px;
  
  opacity: 1;
  pointer-events: auto;
  transition: width 0.28s ease, opacity 0.28s ease, padding 0.28s ease, margin 0.28s ease;
  display: flex;
  flex-direction: column;
}
.Terminology{
  padding-left: 0.4rem;
  color: #ccc;
  font-style: italic;
}
/* New Grid Layout for Panel Content */
.panel-content {
  margin-top:50px;
  padding: 1.4rem;
  overflow-y: auto;
  flex-grow: 1;
}

.info-grid {
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 1.4rem;
  align-items: start;
}

#muscleImage {
  width: 100%;
  height: auto;
  display: block;
}

.info-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.panel-label{
  width: 539px;
  height: 50px;
  background-color: #042951;
  color: var(--lil-text);
  position:absolute;
  padding-left: 0.5rem;
  border-radius: 3px 3px 0px 0px;
  border-bottom: 1px solid var(--mm-border);
  border-right: 1px solid #153b63;
}

.mm-panel-header{ 
  padding: 1rem;
  height: 50px;
  display: flex;
  gap: 0.6rem;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.section-label{
  color: #003979;
  background-color: #f5f5f5;
  margin: -1.4rem;
  margin-bottom: 0;
  padding-left: 0.6rem;
  border-bottom: 1px solid var(--mm-border);
  font-size: 13px;
  }
  .section-label h3{
    padding: 0.5rem;
    gap: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-weight: 500;
    }
    .section-label svg{
    color: var(--lil-text);
    }


 .section-label2{
      color: #003979;
      background-color: #f5f5f5;
      margin: -1.4rem;
      margin-bottom: 0;
      padding-left: 0.6rem;
      border-top: 1px solid var(--mm-border);
      border-bottom: 1px solid var(--mm-border);
      font-size: 13px;
      margin-top: 0.7rem;
      }
      .section-label2 h3{
        padding: 0.5rem;
        gap: 0.3rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        font-weight: 500;
        }
        .section-label2 svg{
        color: var(--lil-text);
        }

.mm-panel-header h2 {font-size: 20px;font-weight:600; margin: 0; color:#ffffff}

.mm-panel-section h3{line-height:1.4;font-size: 16px; color:var(--big-text); font-weight: 500;}
.mm-panel h4{  font-size: 16px; color: var(--big-text); font-weight: 500;}
.mm-panel-section p{ line-height:1.5; color: var(--lil-text);}
#exerciseList{ list-style:none; margin:0; padding:0; }
#exerciseList li{ color: var(--lil-text); display:flex; justify-content:space-between; align-items:center; margin-bottom:8px;}
#exerciseList li a{ color: var(--lil-text); text-decoration:none; }
#exerciseList li a:hover{ text-decoration:underline; }

.section-func{
  padding-top:0.8rem;
  padding-bottom: 0.8rem;
}
.link-explain{
  font-size: 10px; color: var(--lil-text); 
  padding: 0.2rem;
  padding-left: 0.6rem;
  text-align: left;
  align-items: center;
  align-content:center;
  gap: 0.2rem;
  display: flex;
  background-color: #e2e2e2;
  border-top: 1px solid var(--mm-border);
}
.link-explain a{
  text-decoration: none;
  color: var(--mm-select);
}

html, body { overflow-x: hidden;}

.index-label{
  width: var(--mm-index-w);
  background-color: #042951;
  position:absolute;
  height: 50px;
  align-content:center;
  align-items: center;
  border-radius: 3px 3px 0px 0px;
  border-bottom: 1px solid var(--mm-border);
  border-right: 1px solid var(--mm-border);
}
.index-label p{
  width: var(--mm-index-w);
  color: #ffffff;
  margin: 1rem;
  margin-left: 0.8rem;
  align-content:center;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.muscle-index {
  width: var(--mm-index-w);
  background: #f5f5f5;
  border: 1px solid var(--mm-border);
  border-radius: 3px 3px 3px 3px;
  
  margin-left: 0.4rem;
  box-shadow: 0 5px 12px rgba(0,0,0,0.08);
  height: 710px;
  overflow-y: auto;
}
.mi-list {
  margin-top: 50px;
  list-style: none;
}
.mi-list button {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  color: var(--lil-text);
  display: flex;
  align-items: center;
  padding-left: 8px;
  opacity: 1;
  border-bottom: 1px solid #e5e5e5;
}
.mi-list button:hover {
  background: var(--mm-highlight);
  color: var(--mm-select);
  font-weight: 400;
}
.mi-list button.is-active {
  font-weight: 400;
  opacity: 1;
  position: relative;
  background: var(--mm-select);
  color: #ffffff;
}

.mi-search:focus-within .mm-search-icon{ opacity:1; }
 
/* Find this rule (line 406) */
.mi-search{
  opacity: 1;
  width: 100%; /* CHANGE this from 53% to 100% */
  padding: 12px;
  border: 0px solid var(--mm-border);   
  padding-left: 37px;   
  margin-bottom: 2px;
  border-radius: 8px; background:#ffffff20;
  box-shadow: 1px 1px 4px #00000000;
  transition: 0.2s ease;
}
/* Find this rule (line 414) */
.searchy{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; /* DELETE this line */
  width: 100%; /* ADD this line */
}
/* Replace your old rule (line 404) with this */
.searchy:focus-within .mm-search-icon { 
  color: var(--mm-select); /* Makes the icon blue on focus */
}
.mi-search:hover{
  outline: none;
  opacity: 1;
  padding:12px;
  margin-bottom: 2px;
  border:1px solid var(--mm-select);   
  padding-left: 37px;  
  border-radius:8px; background: #fff;
  box-shadow: 2px 1px 10px #1e78ff00;
  transition: 0.2s ease;
}

/* Replace the old rule (line 425) with this */
.mm-search-icon{
  position: absolute;
  left: 14px; 
  top: 48%; /* Centers it vertically */
  transform: translateY(-50%); /* ...perfectly */
  pointer-events: none; /* Lets you click 'through' the icon */
  color: #aaa; /* A muted color for the icon */
  width: 17px;
  height: 17px;
  transition: color 0.2s ease;
}

.instructions{
  font-size: var(--lil-text); color: var(--lil-text); line-height: 1.4rem; 
  margin: 0 auto; padding:2.4rem;
  justify-content: left;
  max-width: var(--max-width);
  border-top:1px solid var(--mm-border);
  background-color: #f8f8f8;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08); 
}
.instructions svg{
color: #003979;
}
.instructions svg:hover{
  color: var(--mm-select);}
.instructions a{ color: var(--mm-select);
  text-decoration: none;}
.instructions-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 60/40 split for left/right columns */
  gap: 6rem; /* Space between the columns */
  padding-left: 6rem;
  padding-right: 6rem;
  max-width: var(--max-width);
  margin: 0 auto;
}
.disclaimer{
  font-size: 10px; color: var(--lil-text); 
  margin: 0 auto; padding:0.4rem ;
  justify-content: left;
  max-width: var(--max-width);
  text-align: left;
  border: 1px solid var(--mm-border);
  background-color: #e7e7e7;
  justify-content: center;
}
.disclaimer p{
  align-content:center;
  display: flex; gap: 0.4rem;
padding-left: 2.8rem}
.instructions-list {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Creates the 2 columns */
  gap: 1rem 2rem; /* Keeps your 1.4rem vertical gap and adds a 2rem horizontal gap */
}
.instructions dt{
  align-content:center;
  display: flex;
  align-items: center;

  gap: 0.4rem;
  font-weight: 600; color: var(--big-text);
}

.soapbox {
  font-size: var(--lil-text); 
  color: var(--lil-text); 
  line-height: 1.4rem; 
  text-align: left; /* This is the key change */
  display: flex;
  flex-direction: column;
  gap: 1.4rem; /* This adds space between your paragraphs */
}


.credits{
  font-size: 11px; color: #222222; text-align: center; line-height: 1.4rem; 
  margin: 0 auto;
  max-width: var(--max-width);
}

.credit-box{
  border-top: 1px solid #a1a1a1;
  background-color: #cdcdcd;
  padding: 2.4rem;
}


.references{
  padding-top: calc(var(--mm-topbar-h) + 2rem);
  font-size: 12px; color: var(--lil-text); text-align: left; line-height: 1.4rem; 
  margin: 0 auto; 
  justify-content: left;
  max-width: var(--max-width);
  background-color: #f8f8f8;
  height: 90vh;
}
.references h2{
  font-size: 13px; color: var(--big-text); text-align: left; line-height: 2rem; 
  margin: 0 auto; 
  font-weight: 500;
  justify-content: left;
  padding-left: 6rem;
}
.ref-links{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  line-height: 2rem;
  padding-left: 6rem;
}
.ref-links2{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  line-height: 2rem;
  padding-left: 6rem;
}
