/* Reset */
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    body {
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
      background: #181c1d;
    }

      /* Sidebar Base */
    #muscleSidebar {
      position: fixed;
      top: 5.5rem;
      right: -400px;
      width: 35%;
      height: 700px;
      padding: 1rem;
      background: linear-gradient(
      135deg,
      rgba(20, 30, 41, 0.8) 0%,
      rgba(17, 13, 26, 0.8) 50%,
      rgba(38, 27, 39, 0.8) 100%);
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(10px);
      border-left: 1px solid #303030;
      box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.4s ease-in-out;
      z-index: 9999;
      overflow-y: auto;
    }

    /* Slide-in */
    #muscleSidebar.active {
      right: 0;
    }

    /* Header */
    .sidebar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
    }

    #closeSidebarBtn {
      font-size: 1.5rem;
      background: none;
      border: none;
      cursor: pointer;
    }

    .sidebar-section h3 {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      color: #dddddd;
      font-weight: 400;
    }
    .sidebar-section p {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      color: #adadad;
      font-size: 1rem; 
      line-height: 1.5; 
      font-weight: 200;
    }
    .sidebar-section li {
      margin-top: 1rem;

      line-height: 0.4; 
      color: #adadad;
      font-size: 1rem; 
      font-weight: 200;
    }


/* Top navigation */
  .top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    justify-content: center;
    padding: 2.1rem;
    border-top: 1px solid #303030;
    border-bottom: 1px solid #303030;
      background: linear-gradient(
      135deg,
      rgba(20, 30, 41, 0.8) 0%,
      rgba(17, 13, 26, 0.8) 50%,
      rgba(38, 27, 39, 0.8) 100%);
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(10px);
  }
    .top-nav a {
      flex: 1;
      padding: 1rem;
      white-space: nowrap;
      color: #d1d1d1;
      text-align: left;
      text-decoration: none;
    }
    @media (max-width: 300px) {
      .top-nav {
        font-size: 1rem;
        padding: 2.1rem;
        text-align: center;
      }
    }

/* Main content wrapper */
  .main-content {
    transition: margin-left 0.3s ease;
    margin-left: 0;
    position: relative; /* anchor for toggle button */
    padding: 1 rem 0;
  }
    .viewer-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 5.5rem;  
      padding-bottom: 0rem;
      }
      .viewer-box {
        background-image: radial-gradient(#171517 20%, #131213 45%, #101010 80%);
        overflow: hidden;
      }
      .viewer-box iframe {
        width: 100%;
        height: 100%;
        border: none;
      }

      

/* Controls */
.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin: 1.5;
}
.controls input[type="radio"] {
  transform: scale(1.2);
  cursor: pointer;
  align-items: center;
}
.controls p {
  font-weight: bold;
}
.controls label {
  display: flex;
  color: #a8a8a8;
}
.controls input {
  margin-right: 0.5rem;
}

/* between checkboxes and SSM text */

  .slides {
    width: 90%;
    margin: 0rem auto 2rem;
    text-align: left;   
  }
    .ssm-card {
      background: linear-gradient(
        135deg,
        #20303c 0%,
        #262428 50%,
        #2a2c2e 100%); /*1e2428*/
      border: 1px solid #303030; 
      border-radius: 0.5rem; 
      padding: 5rem; 
      margin: 0rem 0; 
      box-shadow: 0 2px 4px rgba(57, 55, 69, 0.763);
      width: 100%;
    }
    .ssm-section {
      background-color: #191e21;
      border-top: 1px solid #303030;
      padding: 2rem 0;   
      margin-top: 2rem;
      }
    .ssm-section .slides h1 {
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
      font-weight: 400;
      color: #dddddd;
      }
    .ssm-section .slides p {
      line-height: 1.5;
      color: #b4b4b4;
      font-size: 1rem;
      font-weight: 200;
      }
        @media (max-width: 600px) {
          .ssm-section {
           padding: 0.5rem;   
           margin-left: 0;
          }
          .ssm-section .slides p {
            font-weight: 200;
            width: 100%; }
           }
            .slides {
              width: 95%;
            }
            .ssm-card {
              padding: 2rem;    
            }
            .ssm-card h1 {
              font-size: 1.75rem; 
              margin: 1.2rem 0; 
            }
            .ssm-card p {
              font-size: 1rem; 
            }
          

.citation {
  font-size: 0.8em;   
  vertical-align: super;   
  margin-left: 2px;
}
.citation a {
  color: #51d6ff;             /* or whatever link color you prefer */
  text-decoration: none;   /* remove underline if you like */
}
